<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>
<h2>Create New Post</h2>

<p>Enter Subject and body:</p>

<form class="bg-gray" action="#" th:object="${createThreadCriteria}" method="GET"
      th:action="@{/posts/docreatethread}">

    <div class="row">
        <!-- Subject field -->
        <div class="form-group col-4">
            <label for="text" class="control-label col-xs-2">Subject</label>
            <input type="text" class="form-control" id="text"
                   th:field="*{subject}" placeholder="Enter Subject"
                   style="width: 50em;"/>
        </div>

        <!-- subject errors (if any) -->
        <div class="col-5 p-4">
 				<span th:if="${#fields.hasErrors('subject')}"
                      style="color: red; font-size: smaller" th:errors="*{subject}"></span>
        </div>
    </div>

    <div class="row">
        <!-- Body field -->
        <div class="form-group col-4">
            <label for="text" class="control-label col-xs-2">Body</label>
            <input type="text" class="form-control" id="text"
                   th:field="*{body}" placeholder="Enter Body"
                   style="width: 50em;"/>
        </div>

        <!-- subject errors (if any) -->
        <div class="col-5 p-4">
 				<span th:if="${#fields.hasErrors('body')}"
                      style="color: red; font-size: smaller" th:errors="*{body}"></span>
        </div>
    </div>


    <!--  Submit button -->
    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

<div th:replace="footer :: copy"></div>

</body>
</html>
