<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>

<h2>Forum Server</h2>

<p>Instructions:</p>
<ul class="openlist">
	<li>Use Account Login Button to login first.</li>
	<li>Posts are not visible without logging in. few sample accounts that can be used are 123456789, 123456001, 123456007</li>
	<li>after logging in, access Forum Threads. to view posts in thread, use hyperlink of the thread subject.</li>
	<li>with "Create Thread" Button, create new thread.</li>
	<li>to add a post to existing thread, go inside thread first and then use "Add Post to This Thread" button</li>
	<li>after adding a post, service shows list of posts by the same account. to access the forum thread by thread, login again. </li>
</ul>

<p>Forum Server Microservice is running. Can Try below links for testing post service</p>



<ul class="openlist">
	<li> Registry Service related</li>
	<ul class="openlist">
		<li>Eureka Dashboard: <a
				href="http://localhost:1111">http://localhost:1111</a></li>
		<li>Check applications registered: <a
				href="http://localhost:1111/eureka/apps/">http://localhost:1111/eureka/apps/</a></li>
	</ul>

	<li> Account Service related</li>
	<ul class="openlist">
		<li>Fetch account #123456789: <a th:href="@{/accounts/123456789}">/accounts/123456789</a></li>

		<li>Fetch by name: <a th:href="@{/accounts/owner/Keri}">/accounts/owner/Keri</a></li>

		<li>Account <a th:href="@{/accounts/search}">Search</a></li>

		<li>Account Login<a th:href="@{/accounts/login}">Account Login</a></li>
	</ul>

	<li> Post Service related</li>
	<ul class="openlist">
		<li>Fetch post by account #123456789: <a th:href="@{/posts/account/123456789}">/posts/account/123456789</a></li>

		<li>Create New thread Form <a th:href="@{/posts/createthread}">/posts/createthread</a></li>

		<li>Get Thread by thread ID<a th:href="@{/posts/thread/999999999}">/posts/thread/999999999</a></li>

	</ul>
</ul>


<div th:replace="footer :: copy"></div>

</body>
</html>