<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>

<h3><a th:href="@{__${#httpServletRequest.requestURI}__/addtothread}">Add a Post to This Thread</a></h3>

<div th:if="not ${posts}">
    <div class="alert alert-warning m-2">
        No Posts found '<span th:text="${search}">text</span>'.
    </div>
    <div style="height: 2cm">&nbsp;</div>
</div>

<div th:if="${posts}">
   <!--
   <p>
        Posts ' <span th:text="${search}">text</span>'
        are:
    </p>
    -->

    <table class="table table-striped">
        <thead>
        <tr>
           <!-- <th>Thread</th> -->
            <th>Account Number</th>
            <th>Subject</th>
            <th>Body</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="post : ${posts}">
            <!--
            <td><a href="account.html"
                th:href="@{|/accounts/${account.number}|}"
                th:text="|${account.number}|">11111111</a></td>
                -->
            <!-- <td th:text="${post.thread}">11111111</td> -->
            <td th:text="${post.number}">11111111</td>
            <td th:text="${post.subject}">Owner</td>
            <td th:text="${post.body}">body</td>
        </tr>
        </tbody>
    </table>
</div>


<div th:replace="footer :: copy"></div>
</body>
</html>