<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>
<h3> <a th:href="@{/posts/createthread}">Create Thread</a></h3>


<div th:if="not ${threads}">
    <div class="alert alert-warning m-2">
        No threads found.
    </div>
    <div style="height: 2cm">&nbsp;</div>
</div>

<div th:if="${threads}">

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Thread ID</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="thread : ${threads}">


            <td><a href="posts.html"
                   th:href="@{|/posts/thread/${thread}|}"
                   th:text="|${thread}|">11111111</a></td>

        </tr>
        </tbody>
    </table>
</div>


<div th:replace="footer :: copy"></div>
</body>
</html>