<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>
<h3> <a th:href="@{/posts/createthread}">Create Thread</a></h3>


<div th:if="not ${firstposts}">
    <div class="alert alert-warning m-2">
        No threads found.
    </div>
    <div style="height: 2cm">&nbsp;</div>
</div>

<div th:if="${firstposts}">

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Thread ID</th>
            <th>Subject</th>
            <th>Body</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="post : ${firstposts}">

            <td><a href="posts.html"
                th:href="@{|/posts/thread/${post.thread}|}"
                th:text="|${post.thread}|">11111111</a></td>

            <td><a href="posts.html"
            th:href="@{|/posts/thread/${post.thread}|}"
            th:text="|${post.subject}|">subject</a></td>
            <td th:text="${post.body}">body</td>
        </tr>
        </tbody>
    </table>
</div>


<div th:replace="footer :: copy"></div>
</body>
</html>